header{
    background-color: brown;
    color: beige;
    text-align: center;
    font-size: 60pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main, footer{
    background-color: bisque;
    font-size: 45pt;
    text-align: center;
}
footer{
    background-color: aquamarine;
}